<div class="container">

  <div class="order-header">
    <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#orderModal">Add Analysis</button>
  </div>

  <div class="row">
    <div class="col-md-12 table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>{{CIFConstants.ORDER_ID}}</th>
            <th>{{CIFConstants.ANALYSIS_NAME}}</th>
            <th>{{CIFConstants.SUB_ANALYSIS_NAME}}</th>
            <th>{{CIFConstants.SOLVENT_NAME}}</th>
            <th>{{CIFConstants.SAMPLE_CODE}}</th>
            <th>{{CIFConstants.RATE}}</th>
            <th>{{CIFConstants.RATE_PER_HOUR}}</th>
            <th>{{CIFConstants.EXTRA_HRS}}</th>
            <th>{{CIFConstants.TAXABLE_AMOUNT}}</th>
            <th>{{CIFConstants.CGST}}</th>
            <th>{{CIFConstants.SGST}}</th>
            <th>{{CIFConstants.AMOUNT}}</th>
            <th>{{CIFConstants.DATE}}</th>
            <th>{{CIFConstants.ACTION}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orderList">
            <td>{{order.orderid}}</td>
            <td>{{order.analysisname}}</td>
            <td>{{order.sub_analysisname}}</td>
            <td>{{order.solventname}}</td>
            <td>{{order.samplecode}}</td>
            <td>{{order.rate}}</td>
            <td>{{order.hrs_rate}}</td>
            <td>{{order.extrahrs}}</td>
            <td>{{order.taxableamt}}</td>
            <td>{{order.cgst}}</td>
            <td>{{order.sgst}}</td>
            <td>{{order.amount}}</td>
            <td>{{order.date}}</td>
            <td>
                <span class="order-action" (click)="editSelectedOrder(order)">
                  <span class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#orderModal"></span>
                </span>
                <span class="order-action" (click)="deleteSelectedOrder(order)">
                  <span class="glyphicon glyphicon-trash"></span>
                </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-2">
      <button class="btn btn-primary" (click)="redirectToCheckOut()">Checkout</button>
    </div>
  </div>

  <app-order-form [formType]="createOrderLabal"></app-order-form>

  <app-order-form [formType]="editOrderLabel" [model]="orderModel"></app-order-form>
</div>
