#demo {
  width: 150px;
  position: absolute;
  z-index: 9999;
  background-color: #f8f8f8;
  height: calc(100% - 102px);
  overflow: hidden;
  border: #e7e7e7 1px solid;
}
.navbar {
  border-radius: unset;
}
.navbar-default {
  margin-bottom: auto;
}
.nav>li>a:focus, .nav>li>a:hover, .nav>li>a:active {
  text-decoration: none;
  background-color: unset;
}
