<div class="container-fluid">
  <div class="bg-header-row text-center">
    <h4>Welcome Admin</h4>
  </div>
  <hr>
  <div class="container">
    <table class="table table-hover table-striped table-bordered">
      <thead>
        <tr>
          <th>Sr. No.</th>
          <th>Date</th>
          <th>Name</th>
          <th>Bill No.</th>
          <th>Amount</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userList; let userIndex = index">
          <td>{{userIndex + 1}}</td>
          <td>{{user.order_Date}}</td>
          <td>{{user.uid.firstName + " " + user.uid.lastName}}</td>
          <td>{{user.billNo}}</td>
          <td>{{user.total_Amount}}</td>
          <td>{{user.state}}</td>
          <td>
            <button class="btn btn-primary" (click)="navigateToOrderDetails(user.billNo, user.aid.aid)">View Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
