<div id="orderModal" class="modal fade" role="dialog">

  <div class="modal-dialog">

    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{formType}} Order</h4>
      </div>

      <div class="modal-body">
          <form #orderFormNMR="ngForm" (ngSubmit)="orderFormNMR.valid && onSubmit(model)">

              <div class="form-group">
                <select class="form-control"  id="analysis" required [(ngModel)]="model.analysisname" name="analysis" required>
                  <option value="" disabled>Select Analysis</option>
                  <option *ngFor="let analysis of analysisList" [value]="analysis.analysisname">{{analysis.analysisname}}</option>
                </select>
              </div>

              <div class="form-group" *ngIf="(model.analysisname === 'B')">
                <select class="form-control"  id="solvent" [(ngModel)]="model.solventname" name="solvent" required>
                  <option value="" disabled>Select Solvent</option>
                  <option *ngFor="let solvent of solventList" [value]="solvent.solventname">{{solvent.solventname}}</option>
                </select>
              </div>

              <div class="form-group">
                <select class="form-control"  id="subAnalysis" required [(ngModel)]="model.sub_Analysisname" name="subAnalysis"
                        [disabled]="false" required>
                  <option value="" disabled>Select SubAnalysis</option>
                  <option *ngFor="let subAnalysis of subAnalysisList" [value]="subAnalysis.sub_Analysisname">{{subAnalysis.sub_Analysisname}}</option>
                </select>
              </div>

              <div class="form-group">
                <label>Rates : {{rateObject.rate}} </label>
              </div>

              <div class="form-group">
                <label>Rates/Hr : {{rateObject.hrs_Rate}} </label>
              </div>

              <div class="form-group">
                <label for="sample">No. of Samples</label>
                <select class="form-control"  id="sample" required [(ngModel)]="model.sampleLimit" name="sample">
                  <option value="" disabled>Select No. of Samples</option>
                  <option *ngFor="let x of numberOfSamples" [value]="x">{{x}}</option>
                </select>
              </div>

              <div class="form-group">
                <label for="sampleNames">Enter Samples</label>
                <input type="text" class="form-control" id="sampleNames" required
                       [(ngModel)]="model.sampleNames" name="name">
              </div>

              <input type="submit" value="Confirm">

            </form>
      </div>

    </div>

  </div>

</div>
