<div class="wrapper">
  <div id="formContent">
    <h2 class="underlineHover active" > Sign In </h2>
    <div>
      <img src="assets/img/single_user.png" id="icon" alt="User Icon" />
    </div>

    <form #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmit(adminLogin)">

      <div class="form-group">
        <input type="text" name="email" #email="ngModel" [(ngModel)]="adminLogin.email" placeholder="Email" required
               email [ngClass]="{'invalid-textbox' :signInForm.submitted && !email.valid }">
        <div *ngIf="signInForm.submitted && email.invalid">
          <label class="validation-message">Invalid email address.</label>
        </div>
      </div>

      <div class="form-group">
        <input type="password" class="form-control" name="password" [(ngModel)]="adminLogin.password"
               placeholder="Password" #password="ngModel" required minlength="6"
               [ngClass]="{ 'invalid-textbox': signInForm.submitted && password.invalid }" />
        <div *ngIf="signInForm.submitted && password.invalid">
          <label class="validation-message" *ngIf="password?.errors.required">Password is required</label>
          <label class="validation-message" *ngIf="password?.errors.minlength">Password must be at least 6 characters</label>
        </div>
      </div>

      <input type="submit" value="Sign In">

    </form>
    <!-- Error message -->
    <div class="alert" *ngIf="serverErrorMessages">
      {{serverErrorMessages}}
    </div>

  </div>
</div>
